* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
       /* background-color: #d4edda; */
}

body {
    background: #f4f7fb;
}

/* LAYOUT */
.layout {
    display: flex;
    min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 240px;
    background: #1e2b55;
    color: #fff;
    padding: 20px;
}
.menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    width: 100%;
}

/* .menu li.active a,
.menu li a:hover {
    background: #2f3e78;
    padding: 12px 14px;
    border-radius: 6px;
} */


.sidebar-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
}

.menu {
    list-style: none;
}

.menu li {
    padding: 12px 15px;
    margin-bottom: 10px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0.9;
}

/* .menu li.active,
.menu li:hover {
    background: #2f3e78;
} */

/* MAIN */
.main {
    flex: 1;
    padding: 30px;
}

/* TOP BAR */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* FILTERS */
.filters {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
}

.filters select {
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* TABLE */
.table-card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.06);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 14px;
    border-bottom: 1px solid #eee;
}

/* STATUS */
.status {
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
}

.status.active {
    background: #d4edda;
    color: #28a745;
}

.status.idle {
    background: #fff3cd;
    color: #856404;
}

.status.ended {
    background: #e2e3e5;
    color: #383d41;
}

/* BUTTONS */
.btn {
    padding: 8px 14px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 13px;
    border: none;
    cursor: pointer;
}

.btn.primary {
    background: #1e4fd8;
    color: #fff;
}

.btn.outline {
    border: 1px solid #1e4fd8;
    color: #1e4fd8;
    background: #fff;
}

.btn.mini {
    background: #eef1f7;
    margin-right: 5px;
}

/* ADD PRACTICAL FORM */
.form-layout {
    max-width: 800px;
    margin: 40px auto;
}

.form-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-card {
    background: #fff;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.08);
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group input,
.form-group select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.form-actions {
    grid-column: span 2;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}
